# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/
.pytest_cache/
.ipynb_checkpoints/

# Entornos
venv/
.env
.env.*

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend (si aplica)
node_modules/
